<div class="footer">
  <div class="footer-copyright">
    <i class="far fa-copyright"></i> Ih, Cresci! - Todos os direitos reservados 2019
  </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
  </div>
</div>
