<div class="banner">
  <div class="container text-center">
    <h1>Ih, Cresci!</h1>
    <p>Roupas usadas para crianças</p>
    <div class="button-home">
      <a class="btn btn-flat btn-lg" href="/contacts/index">Quero Vender</a>
      <a class="btn btn-flat btn-lg" href="#product">Quero Comprar</a>
    </div>
  </div>
</div>

<div class="container text-center gray-text-color">
  <h3 class="call-to-action">Como funciona</h3>




  <div class="row features">
    <div class="col-12 col-lg-3 card-product">
      <i class="fas fa-bullhorn fa-lg"></i>
      <h5>Bora Anunciar</h5>
      <p class="description">Selecione o que ficou pequeno e quer desapegar, coloque o preço e anuncie. Nos preços que anunciar, lembre-se de que será descontada uma pequena tarifa do site... 20% (*) do valor final.</p>
    </div>
    <div class="col-12 col-lg-3 card-product">
      <i class="far fa-handshake fa-lg"></i>
      <h5>Viva! Vendi! E agora?</h5>
      <p>Embrulha e despacha!!! Faça com bastante carinho e não esqueça da etiqueta de postagem hein? Nos correios peça sempre SEDEX com aviso de recebimento.</p>
    </div>
    <div class="col-12 col-lg-3 card-product">
      <i class="fas fa-hand-holding-usd fa-lg"></i>
      <h5>Chegou!</h5>
      <p>Assim que a nova família receber seu produto, o saque dos valores já estará disponível para você. </p>
    </div>
  </div>
  <p class="asterisco">(*) 20% de todo valor arrecadado com a tarifa será revertido para projetos beneficentes necessariamente conectados à primeira infância. Os comprovantes deste destino serão mensalmente publicados no site e auditados por consultoria independente.</p>
</div>


<div class="container text-center gray-text-color" id="product">
  <h3 class="call-to-action">Produtos</h3>
  <!-- <p class="description">Blá bla bla.</p> -->

  <div class="row features">
    <div class="col-12 col-lg-3 card-product">
      <img src="https://res.cloudinary.com/db83kcqu5/image/upload/v1558834866/image1.jpg" alt="" class="image-home">
      <h5>Vestido Minnie</h5>
      <p>Tamanho 6</p>
      <p><strong>R$ 25,00</p></strong>
      <p class="price-home">(4 x R$ 7,00)</p>

      <a class="btn btn-flat-product" href="/contacts/new">Comprar</a>
      <br/>
      <br/>
      <br/>
    </div>
    <div class="col-12 col-lg-3 card-product">
      <img src="https://res.cloudinary.com/db83kcqu5/image/upload/v1558834866/image2.jpg" alt="" class="image-home">
      <h5>Bolero Infantil Monbell</h5>
      <p>Tamanho 6</p>
      <p><strong>R$ 15,00</p></strong>
      <p class="price-home">(4 x R$ 4,10)</p>
      <a class="btn btn-flat-product" href="/contacts/new">Comprar</a>
      <br/>
      <br/>
      <br/>
    </div>
    <div class="col-12 col-lg-3 card-product">
      <img src="https://res.cloudinary.com/db83kcqu5/image/upload/v1558834866/image3.jpg" alt="" class="image-home">
      <h5>Vestido Manga Longa Kyly</h5>
      <p>Tamanho 6</p>
      <p><strong>R$ 25,00</p></strong>
      <p class="price-home">(4 x R$ 7,00)</p>
      <a class="btn btn-flat-product" href="/contacts/new">Comprar</a>
      <br/>
      <br/>
      <br/>
    </div>
    <div class="col-12 col-lg-3 card-product">
      <img src="https://res.cloudinary.com/db83kcqu5/image/upload/v1558834865/image4.jpg" alt="" class="image-home">
      <h5>Tênis Minnie</h5>
      <p>Tamanho 26</p>
      <p><strong>R$ 25,00</p></strong>
      <p class="price-home">(4 x R$ 7,00)</p>
      <a class="btn btn-flat-product" href="/contacts/new">Comprar</a>
      <br/>
      <br/>
      <br/>
    </div>
    <div class="col-12 col-lg-3 card-product">
      <img src="https://res.cloudinary.com/db83kcqu5/image/upload/v1558834865/image5.jpg" alt="" class="image-home">
      <h5>Tênis Camim</h5>
      <p>Tamanho 26</p>
      <p><strong>R$ 30,00</p></strong>
      <p class="price-home">(4 x R$ 8,00)</p>
      <a class="btn btn-flat-product" href="/contacts/new">Comprar</a>
      <br/>
      <br/>
      <br/>
    </div>
    <div class="col-12 col-lg-3 card-product">
      <img src="https://res.cloudinary.com/db83kcqu5/image/upload/v1558834865/image6.jpg" alt="" class="image-home">
      <h5>Bermuda Figurinha Girls</h5>
      <p>Tamanho 6</p>
      <p><strong>R$ 20,00</p></strong>
      <p class="price-home">(4 x R$ 5,50)</p>
      <a class="btn btn-flat-product" href="/contacts/new">Comprar</a>
      <br/>
      <br/>
      <br/>
    </div>
    <div class="col-12 col-lg-3 card-product">
      <img src="https://res.cloudinary.com/db83kcqu5/image/upload/v1558834866/image7.jpg" alt="" class="image-home">
      <h5>Vestido Infantil Kamylus</h5>
      <p>Tamanho 4</p>
      <p><strong>R$ 25,00</p></strong>
      <p class="price-home">(4 x R$ 7,00)</p>
      <a class="btn btn-flat-product" href="/contacts/new">Comprar</a>
      <br/>
      <br/>
      <br/>
    </div>

    <div class="col-12 col-lg-3 card-product">
      <img src="https://res.cloudinary.com/db83kcqu5/image/upload/v1558834866/image10.jpg" alt="" class="image-home">
      <h5>Bermuda Lilica Ripilica</h5>
      <p>Tamanho 6</p>
      <p><strong>R$ 20,00</p></strong>
      <p class="price-home">(4 x R$ 5,50)</p>
      <a class="btn btn-flat-product" href="/contacts/new">Comprar</a>
      <br/>
      <br/>
      <br/>
    </div>


    <div class="col-12 col-lg-3 card-product">
      <img src="https://res.cloudinary.com/db83kcqu5/image/upload/v1558842781/image11.jpg" alt="" class="image-home">
      <h5>Saco de Dormir Carter's</h5>
      <p>Material: Fleece</p>
      <p><strong>R$ 15,00</p></strong>
      <p class="price-home">(4 x R$ 4,10)</p>
      <a class="btn btn-flat-product" href="/contacts/new">Comprar</a>
      <br/>
      <br/>
      <br/>
    </div>

    <div class="col-12 col-lg-3 card-product">
      <img src="https://res.cloudinary.com/db83kcqu5/image/upload/v1558842782/image13.jpg" alt="" class="image-home">
      <h5>Meia Infantil Pimpolho</h5>
      <p>Cano Longo - Tam: 16</p>
      <p><strong>R$ 15,00</p></strong>
      <p class="price-home">(4 x R$ 4,10)</p>
      <a class="btn btn-flat-product" href="/contacts/new">Comprar</a>
      <br/>
      <br/>
      <br/>
    </div>

    <div class="col-12 col-lg-3 card-product">
      <img src="https://res.cloudinary.com/db83kcqu5/image/upload/v1558842782/image12.jpg" alt="" class="image-home">
      <h5>Calça Jeans Carter's</h5>
      <p>Tamanho 6</p>
      <p><strong>R$ 20,00</p></strong>
      <p class="price-home">(4 x R$ 5,50)</p>
      <a class="btn btn-flat-product" href="/contacts/new">Comprar</a>
      <br/>
      <br/>
      <br/>
    </div>

    <div class="col-12 col-lg-3 card-product">
      <img src="https://res.cloudinary.com/db83kcqu5/image/upload/v1558842782/image15.jpg" alt="" class="image-home">
      <h5>Jardineira Listras Carter´s</h5>
      <p>Tamanho 6</p>
      <p><strong>R$ 25,00</p></strong>
      <p class="price-home">(4 x R$ 7,00)</p>
      <a class="btn btn-flat-product" href="/contacts/new">Comprar</a>
      <br/>
      <br/>
      <br/>
    </div>

    <div class="col-12 col-lg-3 card-product">
      <img src="https://res.cloudinary.com/db83kcqu5/image/upload/v1558843128/image17.jpg" alt="" class="image-home">
      <h5>Almofada Amamentação</h5>
      <p>Chevron Azul</p>
      <p><strong>R$ 15,00</p></strong>
      <p class="price-home">(4 x R$ 4,10)</p>
      <a class="btn btn-flat-product" href="/contacts/new">Comprar</a>
      <br/>
      <br/>
      <br/>
    </div>


  </div>
</div>

