<div class="banner-contact">
  <div class="container text-center">
    <h1 class="contact-header">Registramos o seu interesse.</h1>
    <br/>
    <h1 class="contact-header"> Obrigada pela participação!</h1>

    <div align=right class="contador"><a href='https://www.counter12.com'><img src='https://www.counter12.com/img-ddC8y5cAD0D03xZC-45.gif' border='0' alt='contador de acessos'></a><script type='text/javascript' src='https://www.counter12.com/ad.js?id=ddC8y5cAD0D03xZC'></script></div>
  </div>
</div>
